name: Sanitizers tests

on:
  workflow_dispatch:
    inputs:
      # For more information about the supported sanitizers in Rust, see:
      # https://rustc-dev-guide.rust-lang.org/sanitizers.html
      rust-sanitizer:
        required: false
        default: 'address'
        type: string
        description: 'A sanitizer to build Rust code with. Possible values are: address, cfi, hwaddress, kcfi, leak, memory or thread'
      # For more information about the supported sanitizers in LLVM, see `LLVM_USE_SANITIZER` option in:
      # https://www.llvm.org/docs/CMake.html
      llvm-sanitizer:
        required: false
        default: 'Address'
        type: string
        description: 'A sanitizer to build LLVM with. Possible values are Address, Memory, MemoryWithOrigins, Undefined, Thread, DataFlow, and Address;Undefined'
  schedule:
    - cron: '0 0 * * 0'

jobs:
  run-with-sanitizers:
    runs-on: solx-linux-amd64
    container:
      image: ghcr.io/matter-labs/zksync-llvm-runner:latest
      options: -m 110g
    env:
      TARGET: x86_64-unknown-linux-gnu
    steps:

      # - name: Tmp cleanup
      #   run: |
      #     rm -rf /__w/solx || true
      #     sudo rm -rf /__w/solx || true
      #     mkdir -p /__w/solx/solx

      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true

      # This step is required to checkout submodules
      # that are disabled in .gitmodules config
      - name: Checkout submodules
        run: |
          git config --global --add safe.directory '*'
          git submodule update --force --depth=1 --recursive --checkout

      - name: Prepare Windows env
        if: runner.os == 'Windows'
        uses: ./.github/actions/prepare-msys

      - name: Building solc
        uses: ./.github/actions/build-solc
        with:
          cmake-build-type: RelWithDebInfo
          working-dir: 'solx-solidity'

      - name: Build LLVM
        uses: ./.github/actions/build-llvm
        with:
          enable-assertions: 'true'
          build-type: RelWithDebInfo
          sanitizer: ${{ inputs.llvm-sanitizer || 'Address' }}
          ccache-key: ${{ format('llvm-{0}-{1}', runner.os, runner.arch) }}

      - name: Run tests
        uses: ./.github/actions/rust-unit-tests
        env:
          BOOST_PREFIX: ${{ github.workspace }}/solx-solidity/boost/lib
          SOLC_PREFIX: ${{ github.workspace }}/solx-solidity/build
        with:
          target: ${{ env.TARGET }}
          sanitizer: ${{ inputs.rust-sanitizer || 'address' }}
